aiohttp==3.7.4.post0
appdirs==1.4.4
asgiref==3.3.1
async-timeout==3.0.1
attrs==21.2.0
boto3==1.17.25
botocore==1.20.25
certifi==2020.12.5
chardet==4.0.0
distlib==0.3.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.5
django-stdimage==5.3.0
django-storages==1.11.1
environs==9.3.0
filelock==3.0.12
geoip2==4.1.0
gunicorn==20.0.4
idna==2.10
importlib-metadata==3.4.0
jmespath==0.10.0
marshmallow==3.10.0
maxminddb==2.0.3
multidict==5.1.0
Pillow==8.1.0
places==0.3.4
psycopg2-binary==2.8.6
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.5
requests==2.25.1
s3transfer==0.3.4
six==1.15.0
sqlparse==0.4.1
static3==0.7.0
typing-extensions==3.7.4.3
urllib3==1.26.3
virtualenv==20.3.0
whitenoise==5.2.0
yarl==1.6.3
zipp==3.4.0
